body {
  background-color: #ddd;

}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 30px;
}

header {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

h1 {
  background-color: #4aaaa5;
  color: #fff;
  height: 100%;
  padding: 8%;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: relative;
  float: right;
  font-family: 'Montserrat', sans-serif;
  padding: 5%;
}

.marg {
  margin: 3%;
}

.pt {
  padding-top: 3%;
}

footer {
  background-color: #777;
  height: 80px;
}